

$Margin: 10px;
$MainColor: rgb(37, 150, 190);
$BackgroundColor: #363543;
$ContainerColor: #383444;
$TextColor: white;

* {
  background-color: $BackgroundColor;
}

body {
  margin: $Margin;
}

.header-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
text-align: center;
  img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin: 0 auto;
  }

  h1, h3,h5 {
    margin: $Margin;
    color: $TextColor;
  }
}

.social-links {
  margin: $Margin * 8;
  display: flex;
  justify-content: center;
  gap: 10px;

  a {
    display: inline-block;
    border: 2px solid $MainColor;
    border-radius: 50%;
    padding: 5px;

    img {
      width: 40px;
      height: 40px;
    }
  }
}

.container {
  background-color: $BackgroundColor;
}

.item {
  margin: $Margin;

  img {
    width: 100%;
    height: auto;
  }

  h6 {
    padding-top: 12px;
    color: $TextColor;
  }
}

.info {
  color: $TextColor;

  a {
    color: $MainColor;
  }
}

.Btn {
  margin: $Margin;
  color: $TextColor;
}

// Skills.js
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  padding: 20px;

  img {
    padding: $Margin;
    border: 1px solid $MainColor;
    width: 80px;
    height: auto;
  }

  .placeholder {
    visibility: hidden;
  }
}

.Skills {
  color: $TextColor;
  text-align: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 2px;
    background-color: $MainColor;
  }
}

.Details {
  border: 1px solid #ccc;
  background-color: $ContainerColor;
  padding: 16px;

  b {
    color: $TextColor;
  }
}
//Education.js
.Education{
  border-radius: 4px;
  padding: $Margin + 6px;
  margin: $Margin;
  color: white;
  border: 1px dotted $MainColor;
}
