$Margin: 10px;

*{
    background-color: #363543;
}
body {
  margin: $Margin;
}
.header-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;  
  img {
    display: block; 
  }
  
  h1, h3 {
    margin: $Margin;
    color: white;
  }
}

.social-links {
  margin: $Margin * 8;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-links a {
  display: inline-block;
  border: 2px solid rgb(37, 150, 190);
  border-radius: 50%;
  padding: 5px;
}

.social-links img {
  width: 40px;
  height: 40px;
}

.container {
background-color: rgba(54,53,67,255);
}
.item{
  margin: $Margin;
  
  >img{
    
    width: 100%;
    height: auto;
  }
  > h6{
    padding-top: 12px;
    color: white ;
  }
}
.info{
  color: white;
  a{
    color: rgb(37, 150, 190);
  }
}
.Btn{
  margin: $Margin;
  color: white;
}
// Skills.js;
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  padding: 20px;
  img {
    padding: $Margin;
    border: 1px solid rgb(37, 150, 190) ;
    width: 80px; // 
    height: auto;
  }

  .placeholder {
    visibility: hidden;
  }
}
.Skills {
  color: white;
  text-align: center;
  position: relative;
}

.Skills::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  height: 2px;
  background-color: rgb(37, 150, 190);
}
.Details{
  border: 1px solid #ccc;
  background-color: #383444;
  padding: 16px;
  b{
    color: white;
  }

}
