
*{
 margin: 10px; 
}

.light-mode {
  background: white;
  color: black;
  transition: 5s;
}

.dark-mode {
  transition: 5s;
  background: linear-gradient(to bottom right, #000000, #b7e2b1); /* Gradient from black to light green */
  color: white; /* Text color for better readability */
}

  .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-gap: 8px; /* spacing between items */
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc; /* border style */
  padding: 10px; /* padding around the item */
  margin: 10px; /* margin around the item */
}

.item img {
  max-width: 100px; /* adjust the size of the icons */
  max-height: 100px;
}
/* Styles for the Projects component */
.projects-container {
  padding: 20px;
}

.project-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 12px;
  box-shadow: 4px 4px 4px 4px #ccc;
}

.project-title {
  font-size: 18px;
  font-weight: bold;
  text-decoration-line: underline;
}

.project-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.show-project-link {
  display: inline-block;
  color: blue;
  text-decoration: none;
  margin-right: 10px;
}

.show-project-link:hover {
  text-decoration: underline;
}

.more-projects-link {
  display: block;
  margin-top: 20px;
  color: green;
  text-decoration: none;
}

.more-projects-link:hover {
  text-decoration: underline;
}
@keyframes Hiii {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-10px, 10px);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(10px, 10px);
  }
}


.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 1s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}




/* For demonstration purposes only: */
body { font-size: 3.5em }
h1 { font-size: 0.5em }
.header-image {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  border-radius: 50%;

}



